<div class="wrapper">

  <!-- <div class="page-header">
    <img src="../../../assets/theme/assets/img/blob.png" class="path">
    <img src="../../../assets/theme/assets/img/path2.png" class="path2">
    <img src="../../../assets/theme/assets/img/triunghiuri.png" class="shapes triangle">
    <img src="../../../assets/theme/assets/img/waves.png" class="shapes wave">
    <img src="../../../assets/theme/assets/img/patrat.png" class="shapes squares">
    <img src="../../../assets/theme/assets/img/cercuri.png" class="shapes circle">
  </div>
 -->

  <div class="container-fluid">
    <div class="row">


      <div class="col col-lg-8">

        <div class="shadow main-card">
          <div class="inner  ">
            <div class="cover"></div>

            <div class="label">
              <h1> Overwatch </h1>
            </div>

            <p class="description">
              In Overwatch, you control one of several heroes in competitive 6-person team shooting matches. Battle over
              objectives, take down the other team, and achieve victory.<br>Before you begin a game of Overwatch, you’ll
              need to choose a hero to play.

              Maybe controlling a cannon-toting, genetically-engineered ape from the moon appeals to you. Or, you might
              prefer zipping around as a teleporting, time-traveling freedom fighter. Who do you want to be?<br>
              In Overwatch, heroes do battle in diverse locations around the world. From the technological marvel of
              Numbani to the manufacturing powerhouse of Volskaya, each map has a unique layout and specific win
              conditions that your team must meet in order to secure victory
            </p>

            <button class="btn btn-primary btn-round" type="button">
              <i class="tim-icons icon-heart-2"></i> Add To Wish List
            </button>

          </div>
        </div>
      </div>


      <div class="col col-lg-4">
        <div class="row container-fluid">
          <div class="col-12 small">
            <div class="shadow small-card">
              <div class="inner  ">
                <div class="cover banner1"></div>
                <div class="label">
                  <h3> Black Ops</h3>
                </div>

              </div>
            </div>


          </div>
          <div class="col-12 small">
            <div class="shadow small-card">
              <div class="inner  ">
                <div class="cover banner2"></div>
                <div class="label">
                  <h3> Far-Cry 5 </h3>
                </div>

              </div>
            </div>

          </div>
          <div class="col-12 small">
            <div class="shadow small-card">
              <div class="inner  ">
                <div class="cover banner4"></div>
                <div class="label">
                  <h3> World War 2</h3>
                </div>

              </div>
            </div>


          </div>

        </div>

      </div>
    </div>
  </div>


  <!-- <div   class="shadow">
      <div class="inner GE_WarpDrive active">

        </div>
  </div> -->
  <!-- GE_WarpDrive -->

</div>
