.landing-page{
    overflow: hidden;
    
}

.pl-md-5{
    background-image: url("../../../assets/theme/assets/img/mike.jpg");
 
    position: absolute;

}

.content-center{

    border : 1px solid white;
  
}