<div class="wrapper container-fluid">
    <section class="section section-lg">
      <h1>YOUR SHOPPING CART</h1>
      <table class="table">
          <thead>
              <tr>
                  <th class="text-center">#</th>
                  <th>Item</th>
                  <th class="text-right">Price</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="text-center">1</td>
                  <td>Watch Dogs 2</td>
                  <td class="text-right">&euro; 99,225</td>
                  <td class="td-actions text-right">
                    <button class="btn btn-danger btn-sm">Delete</button>
                  </td>
              </tr>
              <tr>
                  <td class="text-center">2</td>
                  <td>Far Cry 5</td>
                  <td class="text-right">&euro; 89,241</td>
                  <td class="td-actions text-right">
                    <button class="btn btn-danger btn-sm">Delete</button>
                  </td>
              </tr>
              <tr>
                  <td class="text-center">3</td>
                  <td>COD Black OPS 4</td>
                  <td class="text-right">&euro; 92,144</td>
                  <td class="td-actions text-right">
                    <button class="btn btn-danger btn-sm">Delete</button>
                  </td>
              </tr>
              <tr>
                <td class="text-center"></td>
                <td>Total Amount</td>
                <td class="text-right">&euro; 292,432</td>
                <td class="td-actions text-right">
                    <button type="button" class="btn btn-success btn-sm">Checkout</button>
                </td>
            </tr>
          </tbody>
      </table>

    </section>
</div>
