<div class="wrapper container-fluid">
  <section class="section section-lg">
    <h1>YOUR SHOPPING CART</h1>
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Item</th>
          <th>Developer</th>
          <th class="text-right">Price</th>
        </tr>
      </thead>
      <tr *ngIf="!stopLoading" >
        <td>
          <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
          </div>
        </td>

        <td>
          <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
          </div>
        </td>
        <td>
          <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
          </div>
        </td>
      </tr>
 
      <tbody *ngFor="let item of shoppingCartList ; index as i"   >
        <tr *ngIf="stopLoading" >
          <td class="text-center">{{i+1}}</td>
          <td>{{item.title}}</td>
          <td>{{item.developers}}</td>
          <td class="text-right">&euro; {{item.price}}</td>
          <td class="td-actions text-right">
            <button (click)="deleteItem(item)" class="btn btn-danger btn-sm">x</button>
          </td>
        </tr>



      </tbody>
 

    </table>
    <table class="table">
      <tr>
        <td class="text-center"></td>
        <td>Total Amount</td>
        <td class="text-right">&euro; {{total}}</td>
        <td class="td-actions text-right">
          <button type="button" (click)="checkoutNow()" class="btn btn-success btn-sm">Checkout</button>
        </td>
      </tr>
    </table>

  </section>
</div>