.wallpaper{
    background-image: url(../assets/images/assassins-creed-png-assassins-creed-unity-png-hd-600.png);
    // background-size: 100%;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    // object-fit: cover;
}
 

.h1-seo{
    font-family: 'Orbitron', sans-serif; 
}
 