<div class="page-header header-filter  wallpaper">
  <div class="squares square1"></div>
  <div class="squares square2"></div>
  <div class="squares square3"></div>
  <div class="squares square4"></div>
  <div class="squares square5"></div>
  <div class="squares square6"></div>
  <div class="squares square7"></div>
  <div class="container">
      <div class="content-center brand"  >
          <h1 class="h1-seo">  <span><strong><b>Strike•</b></strong></span>Engine<b>+</b></h1>
          <h3>The ultimate destination for playing, discussing, and creating games.</h3>
      </div>
  </div>
</div>

<app-banner-card></app-banner-card>

<app-content-cards></app-content-cards>

<app-news-area></app-news-area>




<!-- 
<div class="landing-page">
    
  <div class="page-header header-filter">
     
  </div>

</div> -->



