<!-- Navbar -->
<nav style="z-index:10" class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="https://demos.creative-tim.com/blk-design-system/index.html" rel="tooltip"
        title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
        <span><strong><b>Strike•</b></strong></span>Engine<b>+</b>
      </a>
      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <div class="navbar-collapse-header"> 
        <div class="row">
          <div class="col-6 collapse-brand">
            <a>
              <span><strong><b>Strike•</b></strong></span>Engine<b>+</b>
            </a>
          </div>
          <div class="col-6 collapse-close text-right">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="fa fa-cogs d-lg-none d-xl-none"></i> BROWSE BY CATEGORY
          </a>
          <div class="dropdown-menu dropdown-with-icons">
              <a href="https://demos.creative-tim.com/blk-design-system/docs/1.0/getting-started/overview.html"
              class="dropdown-item">
              <i class="tim-icons icon-paper"></i> Free to Play
            </a>
            <a href="examples/register-page.html" class="dropdown-item">
              <i class="tim-icons icon-bullet-list-67"></i>Early Access
            </a>
            <a href="https://demos.creative-tim.com/blk-design-system/docs/1.0/getting-started/overview.html"
              class="dropdown-item">
              <i class="tim-icons icon-paper"></i> Recommendation
            </a>
            <a href="examples/register-page.html" class="dropdown-item">
              <i class="tim-icons icon-bullet-list-67"></i>New Releases
            </a>
         
          </div>
        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="fa fa-cogs d-lg-none d-xl-none"></i> BROWSE BY GENRE
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            
            <a href='cart' class="dropdown-item">
              <i class="tim-icons icon-single-02"></i>Action
            </a>
            <a href="examples/profile-page.html" class="dropdown-item">
              <i class="tim-icons icon-single-02"></i>Adventure
            </a>
            <a href="examples/profile-page.html" class="dropdown-item">
              <i class="tim-icons icon-single-02"></i>Casual
            </a>
            <a href="examples/profile-page.html" class="dropdown-item">
              <i class="tim-icons icon-single-02"></i>Multiplayer
            </a>
            <a href="examples/profile-page.html" class="dropdown-item">
              <i class="tim-icons icon-single-02"></i>Racing
            </a>
            <a href="examples/profile-page.html" class="dropdown-item">
              <i class="tim-icons icon-single-02"></i>Sports
            </a>
            <a href="examples/profile-page.html" class="dropdown-item">
              <i class="tim-icons icon-single-02"></i>Strategy
            </a>

          </div>
        </li>

        <form class="form-inline ml-auto">
            <div class="form-group no-border">
              <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <a class="btn btn-primary btn-fab btn-icon btn-round"  routerLink="cart" >
            <i class="tim-icons icon-cart"></i>
        </a>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->